* {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding-left: 9rem;
    position: sticky;
    padding-top: 10px;
    top: 0;
    z-index: 1000;
    background-color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    padding: 10px 0;
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    margin: 0 auto;
    border-radius: 50px;
}

.navbutton {
    border-radius: 10px;
    color: black;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.navbutton.active {
    color: dodgerblue;
}

.switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #e0e0e0;
    color: black;
    font-size: 16px;
    margin: 0 15px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    transform: rotate(2deg);
    transition: all 0.2s ease-in-out;
    width: 12rem;
}

.card-image {
    width: 12rem;
    height: 12rem;
    border-radius: 0.125rem;
}

.card-title {
    margin-top: 0.625rem;
    font-weight: 700;
    letter-spacing: 0.025em;
    font-size: 1.25rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15rem;
    margin-top: 3rem;
    gap: 3rem;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.025em;
}

p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025em;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 2rem;
}

.project img {
    width: 50%;
    height: 50%;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.tool {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    width: 4.5rem;
    text-align: center;
}

.qualification {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    border: #d1d5db;
}

.skills {
    width: 50%;
    border: #d1d5db;
}

iframe {
    width: 640px;
    height: 708px;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.service img {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
}